@import "variables";
@import "mixins";
@import "fuentes";
@import "titulos";
@import "generales";
@import "carousel";

.card {

    background-color: rgba(225, 47, 167, 1);
    border:0;
    &.rounded-3 {

        border-radius: 1.2rem !important;
    }
    &.consejos {

        background-color: white;
    }
    &.porqueEleg {

        background-color: white;
    }
}

.card-img-top {

    &.rounded-3 {

        border-radius: 1.2rem 1.2rem 0 0 !important;
    }
}

.navbar {

    background-color: #FDDE2B;
}

.btn-primary {

    background-color: #159193 !important;
    border-color: inherit;
    font-weight: bold;
    border-radius: 0.6rem;

    &.p-3 {
        padding: 1.6rem !important;
    }
}

.border-warning {

    border-color:#FDDE2B !important;
    padding: 1.6rem;
    .textoConsejo {

        font-size: 1.2rem;
    }
}

.marginButton {

    margin: 2rem;
}

.container2 {

    padding-left: 0 !important;
    padding-right: 0 !important;
}

.cardAmarilla{

    border-radius: 6.1rem !important;
    margin-bottom: 4rem;
}

.cardSola {

    justify-content: center;
    background-color: #F5F3E6;
    margin: 0 auto;
    div {

        background-color: #F5F3E6;
    }
    h5 {
        font-weight: normal;
        color:#000000;
        font-size: 1.2rem;
    }
}

.piedepagina {

    background-color: #FDDE2B;
    padding: 2rem;
}

.porqueEleg {

    width: 6rem;
    height: 6rem;
    align-self: center;
    background-color: #F5F3E6;
}

.cardDos {

    background-color: #F5F3E6;
    h5 {
        font-weight: normal;
        color:#000000;
        font-size: 1.2rem;
    }
}

.active {

    text-transform: uppercase;
}

.nav-link {

    font-weight:1000;
    color:#000000;
}

.sobreNos {

    flex: 0 0 auto;
    width: 50%
}

.fondo{ 

    background-color:#F5F3E6;
}

.proverbio{

    padding: 1rem 5rem 1rem 5rem;
    text-align: center;
    background-color: #FDDE2B;
    color: #E12FA7;
    font-weight: 500;
    font-size: 1.4rem;
    line-height:2.55rem;
    margin-top: 3rem;
    margin-bottom: 3rem !important;
}

.bajoProverbio{

    font-size: 1.2rem;
    font-weight: normal;
    line-height: 2rem;
    padding: 0 1rem 0;
    span {

        font-size: 1.2rem;
        font-weight: bold;
        color: #159193;
    }
}

.cuatroImg{

    margin:1.6rem 1rem 0 1rem;
    position: relative;
}

.bajocuatroImg{

    margin: 2rem 2rem 0rem 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
}

.uno, .dos{

    margin-bottom: 1.5rem;
}

.dos, .cuatro{

    margin-left: inherit;
}

.circulo{

    position: absolute;
    width: 15rem;
    top: 50%;
    margin-top: -10rem;
    right: 50%;
    margin-right: -7rem;
}

.uno, .dos, .tres, .cuatro {

    z-index: 1;
}

.circulo{

    z-index: 2;
}

.centrado{

    display: flex;
    justify-content: center;
    align-items: center;
}

.rowN{

    margin-bottom: 3rem;
}